html, body{
  font-family: 'Dongle',sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg1: rgb(108, 8, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 2, 2, 207;
  --color2: 185, 0, 255; 
  --color3: 195, 8, 255;
  --color4: black;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 120%;
  --circle-size2: 100%;
  --blending: hard-light;
  --blending2: soft-light;
}

.gradient-bg {
  width: 100%;
  height: 2300px;
  position: absolute;
  overflow: hidden;
  background-color: /*linear-gradient(40deg, var(--color-bg1), var(--color-bg2));*/rgb(2, 0, 16);
  top: 0;
  left: 0;
}

svg {
  display: none;
}

.gradients-container {
  width: 100%;
  height:100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at left, rgba(var(--color1), 0.2) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 5);
  left: calc(50% - var(--circle-size) / 2);

 
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.2) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending2);
  width: var(--circle-size2);
  height: var(--circle-size2);
  top: calc(50% - var(--circle-size2) / 2.5 + 200px);
  left: calc(50% - var(--circle-size2) / -5 + 200px);

 
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at left, rgba(var(--color2), 0.1 ) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 1);
  left: calc(50% - var(--circle-size) / 2);

 
}


.g4 {
  position: absolute;
  background: radial-gradient(circle at right, rgba(var(--color2), 0.1) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 100);
  left: calc(50% - var(--circle-size) / 3);

 
}

.g6 {
  position: absolute;
  background: radial-gradient(circle at right, rgba(var(--color1), 0.1) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 1.2);
  left: calc(50% - var(--circle-size) / 2.6);

 
}

p {
    font-family: 'Lora', sans-serif;
    color: rgb(173, 170, 170);
}

h1{
  font-family: 'Lora', sans-serif;
  color: rgb(173, 170, 170);
}

h2,h3,h4,h5,h6{
  font-family: 'Lora', sans-serif;
  color: rgb(173, 170, 170);
}


a{
    text-decoration: none;
}


  /* starts scroll bar */

  ::-webkit-scrollbar {
    width: 8px; /* Set track width */
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(1, 6, 24); /* Track background color with semi-transparency */
  }
  
  ::-webkit-scrollbar-thumb {
    background: white; /* Thumb background color */
    border-radius: 4px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #666; /* Hover effect */
  }

  /* STARTS NAV BAR */
  
  .navbar {
    position: fixed; 
    top: 0;             
    left: 50%;
    transform: translateX(-50%);

    width: 1500px;
    height: 64px;        
    
    background-color: rgba(22, 22, 22, 0.3);
    border: 2px solid rgba(42, 42, 42, 0.3);
    box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
    
    display: flex;       
    align-items: center; 
    justify-content: space-around; 
    
    border-radius: 0 0 50px 50px; /* to make only curve the bottom two edges*/
    margin-bottom: 50px;
    z-index: 2;

    Backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
  }
  
  .navbar-container {
    /* Additional styling for the container within the navbar (optional) */
    padding: 10px;
  }

.nav_a_1 {
    color: white;
    font-family: "lora", sans-serif;
    font-size: 123%;
    position: absolute;
    top: 0px;
    right: 255px;
}
.nav_a_1:hover {
    p {
      color: rgb(83, 83, 83)
    }
}

.nav_a_2 {
  color: white;
  font-family: "lora", sans-serif;
  font-size: 123%;
  position: absolute;
  top: 0px;
  right: 410px;
}

.nav_a_2:hover {
  p {
    color: rgb(83, 83, 83)
  }
}

.nav_a_3 {
  color: white;
  font-family: "lora", sans-serif;
  font-size: 123%;
  position: absolute;
  bottom: -10px;
  left: 146px;
}

.nav_a_3:hover {
  p {
    color: rgb(83, 83, 83);
  }
}

.logo { 
  width: 26%;
  position: fixed;
  top: -7px;
  left: 30px;
  transform: scale(0.69);
}

/* this is for drop down menu  */

/* CSS for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgba(132, 132, 132, 0.2);
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  position:absolute;
  bottom: 14px;
  left: 598px;
  height: 50px;
  width: 160px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
}

.btntext{
  position: relative;
  bottom: 39px;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -10px;
  left: 600px;
  background-color: rgba(42, 42, 42, 0.3);
  min-width: 160px;
  z-index: 1;
  text-align: center;
  width: 20px;
  border-radius: 25px 25px 25px 25px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Ensure the dropdown button is visible */
.nav_a_3 {
  position: relative;
  z-index: 2;
}


/* search bar starts */
.search_div{
  align-items: center;
}
.search_bar{
  position: absolute;
  top: 120px;
  left: 160px;

  border-radius: 25px 0px 0px 25px;

  background-color: rgb(255, 255, 255);

  width: 1164px;
  height: 30px;
}

.search_btn{
  position: absolute;
  top: 120px;
  left: 1330px;

  background-color: rgb(255, 255, 255);

  border-radius: 0px 25px 25px 0px;

  height: 36px;
}
/* now starts the content blocks */

.content_container {
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;

  border-radius: 8%;
}

.content_heading {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft {
  position:absolute;
  top: 90px;
  left: 530px;
}

.content_location {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* content-2 starts here */

.content_container_2 {
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 470px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img_2 {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;
  width: 22.6%;
  border-radius: 8%;
}

.content_heading_2 {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing_2 {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft_2 {
  position:absolute;
  top: 90px;
  left: 500px;
}

.content_location_2 {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* now starts content 3 */

.content_container_3{
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 740px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img_3 {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;
  width: 22.6%;
  border-radius: 8%;
}

.content_heading_3 {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing_3 {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft_3 {
  position:absolute;
  top: 90px;
  left: 490px;
}

.content_location_3 {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* now starts content-4 */

.content_container_4{
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 1010px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img_4 {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;
  width: 22.6%;
  border-radius: 8%;
}

.content_heading_4 {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing_4 {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft_4 {
  position:absolute;
  top: 90px;
  left: 470px;
}

.content_location_4 {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* content-5 starts */

.content_container_5{
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 1280px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img_5 {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;
  width: 22.6%;
  border-radius: 8%;
}

.content_heading_5 {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing_5 {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft_5 {
  position:absolute;
  top: 90px;
  left: 460px;
}

.content_location_5 {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* content-6 starts */

.content_container_6{
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 1550px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img_6 {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;
  width: 22.6%;
  border-radius: 8%;
}

.content_heading_6 {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing_6 {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft_6 {
  position:absolute;
  top: 90px;
  left: 480px;
}

.content_location_6 {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* content-7 starts */

.content_container_7 {
  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  height: 230px;
  width: 1230px;

  position: absolute;
  top: 1820px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  align-content: center;
  text-align: center;
}

.nyc_img_7 {
  position: absolute;
  top: 12px;
  right: 900px;

  height: 90%;
  width: 22.6%;
  border-radius: 8%;
}

.content_heading_7 {
  position:absolute;
  top: 1px;
  left: 360px;
  font-size: 260%;
}

.content_pricing_7 {
  position:absolute;
  top: 90px;
  left: 360px;
}

.content_sqft_7 {
  position:absolute;
  top: 90px;
  left: 450px;
}

.content_location_7 {
  position: absolute;
  top: 150px;
  left: 360px;
  text-align: left;
}

/* end starts from here */

.end {
  height: 42px;
  width: 80%;

  border: 2px solid rgba(42, 42, 42, 0.3);
  box-shadow: 0 0 10px 2px rgba(42, 42, 42, 0.3);
  background-color: rgba(42, 42, 42, 0.3);
  border-radius: 2cqmax 25px 25px 25px;

  position: absolute;
  top:2120px;
  left:50%;
  transform: translateX(-50%);
}

.next {
  align-items: center;
  appearance: none;
  
  background-color: rgba(0, 0, 0, 0.5);;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #7f8082;
  
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;

  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  
  overflow: visible;
  padding: 2px 24px;
  
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  width: 128px;
  height: 34px;
  
  will-change: transform,opacity;
  
  z-index: 0;
  
  position: right;
}

.next:hover {
  background: #FFF;
  color: #000000;
}

.next {
  position: absolute;
  top:3px;
  left:50%;
  transform: translateX(-50%);
}

/* footer starts  */

.footer {
  height: 60px;
  width: 90%;

  position: absolute;
  top: 2260px;
  left:50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0px 0px;

}

.copyright-text {
  font-size: 20px; /* Adjust font size as needed */
  color: #666; /* Adjust text color as needed */
  position: absolute;
  top: -8px;
  left:37%;
  transform: translateX("-37%");
}

