<!DOCTYPE html>
<html>
  <head>
    <title>Citadel Estates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"></script>
    <script src="./javascripts/searchengine.js" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/favcon.png')}}" type="image/x-icon">
  </head>

  <body id="grad">
   
    <!-- now starts the background-color -->
    <div class="gradient-bg">
      <div class="gradients-container">
        <div class="g1"></div>
        <div class="g2"></div>
        <div class="g3"></div>
        <div class="g4"></div>
        <div class="g5"></div>
        <div class="g6"></div>
        <div class="g7"></div>
        <div class="g8"></div>
        <!-- now starts the navbar  -->
        <nav class="navbar">   
          <div class="navbar-container">
            <img src="{{ url_for('static', filename='icons/citadel_logo_text.png') }}" class="citadel-logo">
            <a href="{{ url_for('home') }}"class="nav_a_3"><p>Home</p></a> 
            <a href="test.html" class="nav_a_2"><p>Sell or Rent</p></a> 
            <a href="#" class="nav_a_1"><p>Contact Us</p></a> 
            <form method="GET" action="{{ url_for('login') }}">
              <button type="submit" class="button-17" role="button">Login</button>
          </form>
          </div>
        </nav>

          <div class="login_box">
              <h1 class="login_heading">login here!</h1>
              <form method="POST" action="{{ url_for('login') }}">
                <div class="username">
                  <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                  <input type="submit" value="login" id="submit_button">
                </div>
              </form> 
              <div class="not_acc_div">
                <h5>Don't have an account? <a href="{{ url_for('register') }}" class="register-here">Register here!</a></h5>           
              </div>
            </div>
            <form method="POST" action="/logout">
              <button type="submit" class="button-4">Logout</button>
            </form>          
      </div>
            <form method="POST" action="/check_user">
              <button type="submit" class="button-3">Check User</button>
          </form>
      </div>
    </div>
  </body>
</html> 

